<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet a Dog | User Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background-color: rgb(244, 245, 246);">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="../imgs/rover.png" alt="" style="width: 100px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search-sitter">Search a Sitter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/services">Our Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dog-care">Dog Care</a>
                    </li>
                </ul>
                <% if (isLogin == true) { %>
                <div class="form-inline my-2 my-lg-0">
                    <a href="/profile">View Profile</a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button id="log-out-btn" class="btn btn-primary ml-4" type="submit">Log out</button>
                    </form>
                </div>
                <% } else { %>
                <div class="form-inline my-2 my-lg-0">
                    <a href="/register" class="pr-4">Sign Up</a>
                    <a href="/login">Sign In</a>
                </div>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 5rem;">
        <% for (var i of dogData) { %>
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-3" style="padding: 1rem;">
                    <img src="../imgs/<%= i.breed %>.jpg" alt="Dog image" class="img-thumbnail" style="width: 250px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">About your dog <%= i.name %></h5>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gender</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= i.gender %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Age</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= i.ageYears %> years, <%= i.ageMonths %> months old
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Weight</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.weight %> lbs</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Breed</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.breed %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Tracking Chip</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.isMicrochipped %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">House Trained</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.isTrained %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gets along with children</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.children %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gets along with other dogs</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.nature %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gets along with cats</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.cats %></p>
                            </div>
                        </div>
                        <a href="/dog-care" class="card-link">Add Your Pet</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="container">
        <% for (var i of tipData) { %>
        <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
            <div class="card-header">So you have a <%= i.breed %>. Following are some tips that can help you.
            </div>
            <div class="card-body">
                <h5 class="card-title">Taking Care of a <%= i.breed %></h5>
                <ul>
                    <li>
                        <p class="h6"><%= i.step1 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step3 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step4 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step5 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step6 %></p>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tips for <%= i.breed %></h5>
                <ul>
                    <li>
                        <p class="h6"><%= i.tip1 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip2 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip3 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip4 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip5 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip6 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip7 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip8 %></p>
                    </li>
                </ul>
            </div>
        </div>
        <% } %>
    </div>

    <div class="container">
        <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
            <div class="card-header">Dog Care</div>

            <div class="card-body">
                <h5 class="card-title">General Dog Care</h5>
                <p class="card-text">A dog can be a wonderful addition to any home, but whether you're an experienced
                    pet parent or a first-time adopter, it's important to keep your canine companion's health and
                    happiness a top priority. Below are some useful tips for all dog parents.
                </p>
                <p class="card-text">And remember: If you're considering bringing home a new dog, please make adoption
                    your first option. We encourage you to browse our directory of adoptable dogs in your area or
                    visit
                    our Find a Shelter page to start your search.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Feeding</h5>
                <ul>
                    <li>Puppies eight to 12 weeks old need four meals a day.</li>
                    <li>Feed puppies three to six months old three meals a day.</li>
                    <li>Feed puppies six months to one year two meals a day.</li>
                    <li>When your dog reaches his first birthday, one meal a day is usually enough.</li>
                    <li>For some dogs, including larger canines or those prone to bloat, it's better to feed two
                        smaller
                        meals.
                    </li>
                </ul>
                <p class="card-text">Premium-quality dry food provides a well-balanced diet for adult dogs and may be
                    mixed with water, broth or canned food. Your dog may enjoy cottage cheese, cooked egg or fruits
                    and
                    vegetables, but these additions should not total more than ten percent of his daily food intake.
                </p>
                <p class="card-text">
                    Puppies should be fed a high-quality, brand-name puppy food (large breed puppy foods for large
                    breeds). Please limit "people food," however, because it can result in vitamin and mineral
                    imbalances, bone and teeth problems and may cause very picky eating habits and obesity. Clean,
                    fresh
                    water should be available at all times, and be sure to wash food and water dishes frequently.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Exercise</h5>
                <p class="card-text">Dogs need exercise to burn calories, stimulate their minds, and stay healthy.
                    Individual exercise needs vary based on breed or breed mix, sex, age and level of health. Exercise
                    also tends to help dogs avoid boredom, which can lead to destructive behaviors. Supervised fun and
                    games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve and chase.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Grooming</h5>
                <p class="card-text">Help keep your dog clean and reduce shedding with frequent brushing. Check for
                    fleas and ticks daily during warm weather. Most dogs don't need to be bathed more than a few times
                    a
                    year. Before bathing, comb or cut out all mats from the coat. Carefully rinse all soap out of the
                    coat, or the dirt will stick to soap residue. Please visit our Dog Grooming Tips page for more
                    information.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Handling</h5>
                <p class="card-text">To carry a puppy or small dog, place one hand under the dog's chest, with either
                    your forearm or other hand supporting the hind legs and rump. Never attempt to lift or grab your
                    puppy or small dog by the forelegs, tail or back of the neck. If you do have to lift a large dog,
                    lift from the underside, supporting his chest with one arm and his rear end with the other.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Housing</h5>
                <p class="card-text">Your pet needs a warm, quiet place to rest, away from all drafts and off the
                    floor.
                    A training crate or dog bed is ideal, with a clean blanket or pillow placed inside. Wash the dog's
                    bedding often. If your dog will be spending a lot of time outdoors, be sure she has access to
                    shade
                    and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Licensing and Identification</h5>
                <p class="card-text">Follow your community’s licensing regulations. Be sure to attach the license to
                    your dog’s collar. This, along with an ID tag and implanted microchip or tattoo, can help secure
                    your dog’s return should she become lost.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Fleas and Ticks</h5>
                <p class="card-text">Daily inspections of your dog for fleas and ticks during the warm seasons are
                    important. Use a flea comb to find and remove fleas. There are several new methods of flea and
                    tick
                    control. Speak to your veterinarian about these and other options. Visit our Fleas and Ticks page
                    for more information.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Medicines and Poisons</h5>
                <p class="card-text">Never give your dog medication that has not been prescribed by a veterinarian. If
                    you suspect that your animal has ingested a poisonous substance, call your veterinarian or the
                    ASPCA
                    Animal Poison Control Center for 24-hour animal poison information at (888) 426- 4435.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Spaying and Neutering</h5>
                <p class="card-text">Female dogs should be spayed and male dogs neutered by six months of age. Please
                    visit our Spay/Neuter Your Pet page to learn more.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Vaccinations</h5>
                <p class="card-text">Your dog may benefit from receiving a number of vaccinations. Please visit our
                    Pet
                    Vaccinations page to learn more.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Dog Supply Checklist</h5>
                <ul>
                    <li>Premium-quality dog food and treats</li>
                    <li>Food dish</li>
                    <li>Water bowl</li>
                    <li>Toys, toys and more toys, including safe chew toys</li>
                    <li>Brush & comb for grooming, including flea comb</li>
                    <li>Collar with license and ID tag</li>
                    <li>Leash</li>
                    <li>Carrier (for smaller dogs)</li>
                    <li>Training crate</li>
                    <li>Dog bed or box with warm blanket or towel</li>
                    <li>Dog toothbrush</li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">The Scoop on Poop</h5>
                <p class="card-text">
                    Keep your dog on a leash when you are outside, unless you are in a secured, fenced-in area. If
                    your
                    dog defecates on a neighbor's lawn, the sidewalk or any other public place, please clean it up.
                </p>
            </div>
        </div>
    </div>

    <div class="comtainer-fuild">
        <img src="../imgs/donate.jpg" alt="" style="width: 100%;">
    </div>

    <footer class="container-fluid page-footer font-small bg-info pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                        repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam
                        recusandae
                        harum esse fugiat. Itaque, culpa?</p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi
                        earum
                        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam,
                        aspernatur id
                        excepturi hic.</p>
                </div>
            </div>

        </div>
        <div class="container-fluid footer-copyright text-center py-3 bg-info">
            © 2020 A Place for Rover, Inc. All Rights Reserved.
            711 Capitol Way S., Suite 204, Olympia, WA 98501
        </div>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>