<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet a Dog | User Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/d3fe7c8d04.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
        const ratings = {
            sony: 4.7
        }

        const starsTotal = 5;

        document.addEventListener('DOMContentLoaded', getRatings);

        const productSelect = document.getElementById('product-select');
        const ratingControl = document.getElementById('rating-control');

        let product;

        productSelect.addEventListener('change', (e) => {
            product = e.target.value;
            ratingControl.disabled = false;
            ratingControl.value = ratings[product];
        });

        ratingControl.addEventListener('blur', (e) => {
            const rating = e.target.value;
            if (rating > 5) {
                alert("Please rate 1 through 5");
                return;
            }

            ratings[product] = rating;
            getRatings();
        });

        function getRatings() {
            for (let rating in ratings) {
                const starPercentage = (ratings[rating] / starsTotal) * 100;
                const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

                document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;
                document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
            }
        }
    </script>
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }

        .stars-outer {
            position: relative;
            display: inline;
        }

        .stars-inner {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
        }

        .stars-outer::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f005 \f005 \f005 \f005 \f005";
        }

        .stars-inner::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f005 \f005 \f005 \f005 \f005";
            color: #f8ce0b;
        }
    </style>
</head>

<body style="background-color: rgb(244, 245, 246);">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="../imgs/pet-a-dog.png" alt="" style="width: 30px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search-sitter">Search a Sitter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/services">Our Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dog-care">Dog Care</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a href="/profile">View Profile</a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button id="log-out-btn" class="btn btn-primary ml-4" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 5rem;">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../imgs/profile.png" class="card-img" style="padding: 1rem;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= userData.first_name %> <%= userData.last_name %></h5>
                        <div class="row">
                            <div class="col-2">
                                <p class="card-text">Email</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= userData.email %></p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-2">
                                <p class="card-text">Address</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= housingCondition.address_line_1 %>, <%= housingCondition.address_line_2 %>
                                </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-2">
                                <p class="card-text">City</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= housingCondition.city %>
                                </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-2">
                                <p class="card-text">State</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= housingCondition.state %>
                                </p>
                            </div>
                        </div>
                        <p class="card-text mt-2"><a class="card-link" href="/profile/add">Add your Dog</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 1rem;">
        <% for (var i of dogData) { %>
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-3" style="padding: 1rem;">
                    <img src="../imgs/<%= i.dog_breed %>.jpg" alt="Dog image" class="img-thumbnail"
                        style="width: 250px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">About your dog <%= i.dog_name %></h5>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gender</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= i.dog_gender %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Age</p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    <%= i.dog_years %> years, <%= i.dog_months %> months old
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Weight</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_weight %> lbs</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Breed</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_breed %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Tracking Chip</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_isMicrochipped %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">House Trained</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_isHousetrained %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gets along with children</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_goWellWithChildrens %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Gets along with other dogs</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_goWellWithDogs %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Get along with cats</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><%= i.dog_isWellWithCtas %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="container">
        <% for (var i of tipData) { %>
        <div class="card text-white bg-dark mb-3" style="max-width: 100%;">
            <div class="card-header">So you have a <%= i.breed %>. Following are some tips that can help you.
            </div>
            <div class="card-body">
                <h5 class="card-title">Taking Care of a <%= i.breed %></h5>
                <ul>
                    <li>
                        <p class="h6"><%= i.step1 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step3 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step4 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step5 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.step6 %></p>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Tips for <%= i.breed %></h5>
                <ul>
                    <li>
                        <p class="h6"><%= i.tip1 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip2 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip3 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip4 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip5 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip6 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip7 %></p>
                    </li>
                    <li>
                        <p class="h6"><%= i.tip8 %></p>
                    </li>
                </ul>
            </div>
        </div>
        <% } %>
    </div>

    <% if (bookingData.length == 0) { %>

    <% } else { %>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Recently Used Services</h5>
            <div class="row">
                <% for (var booking of bookingData) { %>
                <div class="card-body ml-3">
                    <h5 class="card-title"><%= booking.sitter_name %></h5>
                    <p class="card-text"><strong>Service Name: </strong><%= booking.service_name %></p>
                    <p class="card-text"><strong>Service Charge: </strong>$<%= booking.service_charge %></p>
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-primary dropbtn"
                        title="<%= booking.sitter_name %>">Rate this service
                    </button>
                    <div id="myModal" class="modal fade" style="width: 100%;">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Rate <%= booking.sitter_name %>'s service</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <!-- <p>Do you want to delete the data ?</p>
                                    <p class="text-warning"><small>If you sure to delete, please write some
                                            comments.</small></p>
                                    <input type="text" size="50"></input> -->
                                    <div class="slidecontainer">
                                        <input type="range" min="0.1" max="5" value="50" class="slider" id="myRange"
                                            step="0.1">
                                        <p>Value: <span id="demo"></span></p>
                                    </div>
                                    <script>
                                        var slider = document.getElementById("myRange");
                                        var output = document.getElementById("demo");
                                        output.innerHTML = slider.value;

                                        slider.oninput = function () {
                                            output.innerHTML = this.value;
                                        }
                                    </script>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Service Name</th>
                                                <th>Rating</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="sony">
                                                <td><%= booking.service_name %></td>
                                                <td>
                                                    <div class="stars-outer">
                                                        <div class="stars-inner"></div>
                                                    </div>
                                                    <span class="number-rating"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" class="btn btn-default"
                                        data-dismiss="modal">Close</button><br><br>
                                    <form action="/delProInfo/del" method="POST" novalidate>
                                        <input type="hidden" name="Id" class="hiddenValue" value="" />
                                        <button class="btn btn-primary">Sure to Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.dropbtn').click(function () {
                                var title = $(this).attr('title')
                                $('.hiddenValue').val(title);
                            })
                        }) 
                    </script>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>

    <footer class="container-fluid page-footer font-small bg-info pt-4 mt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                        repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam
                        recusandae
                        harum esse fugiat. Itaque, culpa?</p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi
                        earum
                        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam,
                        aspernatur id
                        excepturi hic.</p>
                </div>
            </div>

        </div>
        <div class="container-fluid footer-copyright text-center py-3 bg-info">
            © 2020 A Place for Rover, Inc. All Rights Reserved.
            711 Capitol Way S., Suite 204, Olympia, WA 98501
        </div>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>