<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet a Dog | Sitter Info</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #more {
            display: none;
        }

        .read-more-button {
            background: none !important;
            border: none;
            padding: 0 !important;
            /*optional*/
            font-family: arial, sans-serif;
            /*input has OS specific font-family*/
            color: #007bff;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="../imgs/pet-a-dog.png" alt="" style="width: 30px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search-sitter">Search a Sitter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/services">Our Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/dog-care">Dog Care</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <a href="/profile">View Profile</a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button id="log-out-btn" class="btn btn-primary ml-4" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 5rem;">
        <div class="row">
            <div class="col-4">
                <img src="<%= sitterData.img %>" class="card-img center img-thumbnail mt-3"
                    style="padding: 1rem; width: 250px;">
            </div>
            <div class="col-8">
                <h1 class="display-4 mt-4"><%= sitterData.name %></h1>
                <p class="h4 pt-2">From : <%= sitterData.address %></p>
                <p class="h4 pt-2">About : <%= sitterData.about %></p>
                <div class="row mt-3" style="text-align: center;">
                    <div class="col-3">
                        <img src="../imgs/stars.jpg" style="width: 100px;">
                        3
                    </div>
                    <div class="col-4">
                        Response Rate: 100%
                    </div>
                    <div class="col">
                        Response Time: under half an hour
                    </div>
                </div>
                <a href="/<%= sitterData.name %>/contact" class="btn btn-primary btn-lg mt-4">Contact
                    <%= sitterData.name %></a>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-6 col-md-4" style="background-color: rgb(244, 245, 246); padding: 1rem;">
                <p class="h2">Services</p>
                <% for (var service of services) { %>
                <div class="row mt-3">
                    <div class="col">
                        <p class="h5"><%= service.serviceName %></p>
                    </div>
                    <div class="col">
                        <p class="h4" style="margin-left: 6rem;">$ <%= service.serviceCharge %></p>
                    </div>
                </div>
                <% } %>
                <blockquote class="blockquote mt-4" class="mb-0" style="text-align: center;">
                    <a href="#">
                        <p class="mb-0" style="text-align: center;">See Additional Services & Rates</p>
                    </a>
                    <footer class="footer">Cat care, pick-up & drop-off, bathing / grooming
                    </footer>
                </blockquote>
                <div class="card mt-4" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Hosting Preferences</h5>
                        <div class="row">
                            <div class="col-5">
                                <img src="../imgs/small.jpg" style="width: 100px;">
                                <h6 class="card-subtitle mb-2 text-muted mt-3 mr-3" style="text-align: center;">
                                    <%= sitterData.preferences %></h6>
                                <h6 class="card-subtitle mb-2 text-muted mr-3" style="text-align: center;">
                                    (lbs)</h6>
                            </div>
                            <div class="col-5">
                                <img src="../imgs/small.jpg" style="width: 100px;">
                                <h6 class="card-subtitle mb-2 text-muted mt-3 mr-3" style="text-align: center;">
                                    <%= sitterData.preferences1 %></h6>
                                <h6 class="card-subtitle mb-2 text-muted mr-3" style="text-align: center;">
                                    (lbs)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Availability</h5>
                        <img src="../imgs/calendar.png" class="img-thumbnail rounded float-left mt-2 mb-4">
                        <h6 class="card-title" style="text-align: center;">Calendar last updated 4 months ago</h6>
                        <p class="card-text" style="padding: 5px; text-align: center;">
                            <%= sitterData.name %> can host up to 2 dogs per night.
                        </p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">About <%= sitterData.name %>'s Home</h5>
                        <div class="row">
                            <div class="col">
                                <li class="list-group-item list-group-item-light">Lives in a House
                                </li>
                                <li class="list-group-item list-group-item-light">Non-Smoking Household
                                </li>
                                <li class="list-group-item list-group-item-light">No Children Present
                                </li>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <li class="list-group-item list-group-item-light">Has a Fenced Yard
                                </li>
                                <li class="list-group-item list-group-item-light">Has No Dogs
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card" style="width: 100%;">
                    <img src="../imgs/dog-review.jpg" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Comments</h4>
                        <% for (var review of feedback) { %>
                        <div class="row mt-4">
                            <div class="col-2">
                                <img src="../imgs/review.png" class="img-thumbnail ml-3"
                                    style="width: 75px; border-radius: 50%;">
                            </div>
                            <div class="col">
                                <p class="card-text mt-1">
                                    <%= review.userName %>
                                </p>
                                <p>
                                    <%= review.date %>
                                </p>
                            </div>
                        </div>
                        <p class="card-text mt-2" style="margin: 1rem">
                            <% if (review.comment.length > 100) { %>
                            <% str1 = review.comment.substring(0, 100) %>
                            <% str2 = review.comment.substring(101, review.comment.length) %>
                            <%= str1 %> <span id="dots">...</span><span id="more">
                                <%= str2 %></span>
                        <p><button class="read-more-button" href="#" onclick="myFunction()" id="myBtn">Read
                                more</button></p>
                        <script>
                            function myFunction() {
                                var dots = document.getElementById("dots");
                                var moreText = document.getElementById("more");
                                var btnText = document.getElementById("myBtn");

                                if (dots.style.display === "none") {
                                    dots.style.display = "inline";
                                    btnText.innerHTML = "Read more";
                                    moreText.style.display = "none";
                                } else {
                                    dots.style.display = "none";
                                    btnText.innerHTML = "Read less";
                                    moreText.style.display = "inline";
                                }
                            }

                            function checkCommentLength() {
                                var comment = document.getElementById('sitterComment').value;
                                if (comment.length > 500) {
                                    document.getElementById('sitterComment').style.borderWidth = "3px";
                                    document.getElementById('sitterComment').style.borderColor = "red";
                                }
                            }
                        </script>
                        <% } else { %>
                        <%= review.comment %>
                        <% } %>
                        </p>
                        <a href="#" class="card-link">Know More</a>
                        <a href="#" class="card-link">Was this review helpful ?</a>
                        <% } %>
                    </div>
                    <div class="card-body">
                        <form action="/<%= sitterData.name %>/comment" method="POST">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Comment</label>
                                <textarea class="form-control" id="sitterComment" rows="3" name="comment"
                                    onkeydown="checkCommentLength()" required></textarea>

                            </div>
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">About <%= sitterData.name %></h5>
                        <h6 class="card-title mt-4">I’ll give your dog love</h6>
                        <p class="card-text" style="margin: 1rem;">
                            <%= sitterData.aboutSitter %>
                        </p>
                        <h6 class="card-title mt-4">What <%= sitterData.name %> would like to know about your dog</h6>
                        <p class="card-text" style="margin: 1rem;">
                            Please let me know the mannerisms of your dog I should pay special attention to, for
                            example, will they let me know they need to go out for a potty break. I love all dogs and
                            have no preferences as to breeds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid page-footer font-small bg-info pt-4 mt-5">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
                        repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam
                        recusandae
                        harum esse fugiat. Itaque, culpa?</p>

                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi
                        earum
                        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam,
                        aspernatur id
                        excepturi hic.</p>
                </div>
            </div>

        </div>
        <div class="container-fluid footer-copyright text-center py-3 bg-info">
            © 2020 A Place for Rover, Inc. All Rights Reserved.
            711 Capitol Way S., Suite 204, Olympia, WA 98501
        </div>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>