<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet a Dog | Booking Summary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h1 class="card-title">You made a booking request for <%= sitter %></h1>
                <% for (var booking of bookingDetails) { %>
                <p>Booking ID : <%= booking.booking_id %></p>
                <p>Customer Name : <%= booking.user_first_name %> <%= booking.user_last_name %></p>
                <p>Sitter Name : <%= booking.sitter_name %></p>
                <p>Booking Date : <%= booking.booking_date %></p>
                <p>Service Selected : <%= booking.serviceSelected %></p>
                <p>Drop Off Date : <%= booking.drop_off_date %></p>
                <p>Drop Off time from : <%= booking.drop_off_time_from %></p>
                <p>Pick Up date : <%= booking.pick_puck_date %></p>
                <p>Pick Up time from: <%= booking.pick_puck_time_from %></p>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>