<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet a Dog | Booking Summary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h1 class="card-title">You made a booking request for <%= sitter %></h1>
                <% for (var booking of bookingDetails) { %>
                <p>Booking ID : <%= booking.id %></p>
                <p>Customer Name : <%= booking.userFirstName %> <%= booking.userLastName %></p>
                <p>Sitter Name : <%= booking.sitterName %></p>
                <p>Booking Date : <%= booking.bookingDate %></p>
                <p>Service Selected : <%= booking.serviceSelected %></p>
                <p>Drop Off Date : <%= booking.dropOffDate %></p>
                <p>Drop Off Date : <%= booking.dropOffDate %></p>
                <p>Drop Off time to : <%= booking.dropOffTimeTo %></p>
                <p>Pick Up date : <%= booking.pickUpDate %></p>
                <p>Pick Up time from: <%= booking.pickUpTimeFrom %></p>
                <% } %>
                <h1>Payment Information</h1>
                <% for (var card of creditCradDetails) { %>
                <p>Payment Method: <%= card.paymentMethod %></p>
                <p>Name on Card: <%= card.userName %></p>
                <p>Credit Card Number: <%= card.cardNumber %></p>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>